*
{
margin: 10;
}

header
{
    background-image: url('images/h_t_b.jpg'); 
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}

header .header-title
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header .header-title h2
{
    font-size: 55px;
    font-family: Tangerine;
    color: brown;
    display: block;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 12px;
    width: 40%;
    margin: auto;
}

header .header-title h4
{
    font-size: 59px;
    font-family: Arial;
}

header .header-title p
{
    font-size: 35px;
    font-weight: 500;
    font-family: Rambla;
}